.bar {
	padding: 8px 12px;
    background: $surface_transparent;
	transition:
		background-color 0.15s ease,
		color 0.15s ease;
}

.bar__item {
    min-height: 42px;
    padding: 0 16px;
    border-radius: 100px;
    color: $on_surface;
    background-color: $inverse_surface_transparent;
}

.bar__button {
    transition: 0.15s all ease-in-out;
    &:hover {
        background: $inverse_surface_transparent_variant;
    }
    &.active {
        background: $primary;
        color: $on_primary;
        &:hover {
            background: $on_primary_container;
        }
    }
}

.bar__app-launcher_icon {
    background-color: $on_primary;
    min-width: 14px;
    min-height: 14px;
    border-radius: 100%;
    transition: all 0.3s;
}

.bar__app-launcher {
    transition: all 0.3s;
    background-color: $primary;
    min-width: 42px;
    padding: 0px;

    &:hover {
        background-color: $on_primary;
        .bar__app-launcher_icon {
            background-color: $primary;
        }
    }
}

.bar__workspaces {
    min-width: 28px;
}

.bar__workspaces-indicator {
    padding: 0;
    min-width: 10px;
    min-height: 10px;
    margin: 0 4px;
    transition: all 0.3s;
    background-color: transparentize(#fff, 0.83);
    border-radius: 100px;

    &:last-child {
        margin-right: 0px;
    }

    &:first-child {
        margin-left: 0px;
    }

    &:hover {
        background-color: transparentize($primary, 0.4);
    }

    &.active,
    &:active {
        min-height: 14px;
        min-width: 42px;
        border-radius: 100px;
        background-color: $primary;
    }
}

.bar__clock, .bar__weather, .bar__keyboard-layout, .bar__battery {
    font-weight: 500;
}

.bar__weather {
    background: none;
    padding: 0 10px;
}

.bar__weather-icon {
    min-width: 10px;
    min-height: 10px;
}

.bar__keyboard-layout {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    min-width: 42px;
    background: $secondary;
    color: $on_secondary;
}

.bar__battery {
    padding: 0 10px;
    color: $on_primary_container;
    background-color: $primary_container;

    image {
        margin-right: 4px;
    }

    &.low {
        color: $on_error_container;
        background-color: $error_container;
    }
}

.bar__system-indicators {
    &:hover {
        background-color: $inverse_surface_transparent_variant;
    }
}
