window {
    color: $on_surface;
}

slider {
    background: none;
}

separator {
    background: none;
}

window {
    background: none;
}

button {
    background: none;
    border: none;
}


.scrim {
	background: transparentize($scrim, 0.68);
}

.transparent-scrim {
	background: rgba(0, 0, 0, 0.0039);
}

* {
    font-size: 14px;
}


flowboxchild, button, box {
    margin: 0;
    padding: 0;
}

.active {
    background: $primary;
}
