.notifications-center {
    margin-top: 12px;
    border-radius: 38px;
    min-height: 550px;
    padding: 14px;
    background: $surface_transparent;
	transition:
		background-color 1s ease-in-out,
		color 1s ease-in-out;
}

.block {
    background: $inverse_surface_transparent;
    border-radius: 30px;
    padding: 20px;
	transition:
		background-color 1s ease,
		color 1s ease;
}

.notifications-center__scrollable {
    border-radius: 20px;
    slider {
        min-height: 0;
    }
}

.notifications-center__notificaitons {
    min-width: 380px;
    padding: 12px;

    .notification {
        border-radius: 24px;
    }
}

.notifications-center__clear {
    border-radius: 20px;
    min-height: 40px;
}

.placeholder {
    label {
        font-size: 18px;
    }
}

.notifications-center__calendar {
    padding: 20px 16px;
}

.notifications-center__calendar_header {
    font-size: 18px;
    font-weight: 500;
    margin-left: 13px;
    margin-bottom: 8px;
}

calendar {
    all: unset;

    label {
        font-size: 16px;
        padding: 10px 6px;
        margin: 2px;
        border-radius: 100px;
        transition: 0.2s all ease-in-out;
        font-weight: 500;
        &:selected {
            outline: none;
            background: $primary;
            color: $on_primary;
        }
    }

    .today {
        box-shadow: inset 0px 0px 0px 2px $primary_container;
    }

    header {
        border: none;
        label {
            font-weight: 500;
        font-size: 18px;
        }
    }
}
.notifications-center__weather {
    background: $tertiary_container;
    .highlighted {
        color: $on_tertiary_container;
    }
}

.notifications-center__weather_icon {
    font-size: 20px;
}

.notifications-center__weather_country {
    font-size: 16px;
    font-weight: 400;
}
.notifications-center__weather_city {
    font-size: 18px;
    font-weight: 500;
}

.notifications-center__weather_now {
    font-size: 36px;
    font-weight: 500;
}

.notifications-center__weather_min, .notifications-center__weather_max {
    font-size: 18px;
    font-weight: 400;
}

.notifications-center__weather_min {
    color: $on_surface_variant;
}
