
.notification {
	&:first-child {
        border-top-right-radius: 26px;
        border-top-left-radius: 26px;
	}
	&:last-child {
        border-bottom-right-radius: 26px;
        border-bottom-left-radius: 26px;
	}

    padding: 14px 16px 20px 20px;
    color: $on_surface;
    background-color: $surface_transparent;
    border-radius: 4px;
}

.notification__icon {
    margin-top: 6px;
    min-height:42px;
    min-width:42px;
    margin-right: 14px;
    border-radius: 100px;
}

.notification__title {
    font-size: 15px;
    font-weight: 500;
}

.notification__header {
    margin-top: 6px;
    margin-bottom: 10px;
}

.notification__app-name, .notification__dot, .notification__time {
    color: $on_surface_variant;
    font-size: 12px;
    font-weight: 400;
}

.notification__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.notification__actions {
    margin-top: 8px;
}

.notification__action {
    background: none;
    transition: color 0.1s ease-in-out;
    color: $primary;
    border-radius: 100px;
    &:hover {
        color: $on_primary_container;
        transition: color 0.1s ease-in-out;
    }
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

.notification__close-button {
    min-width:22px;
    min-height:22px;
    border-radius: 100px;
    background-color: $surface_container_highest;
    color: $on_surface;
    font-size: 20px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
    &:hover {
        background: $primary_fixed;
        color: $on_primary_fixed;
    }
}

.popup-notif-low, .popup-notif-normal, .popup-notif-critical {
    color: $on_surface;
    background-color: transparentize($surface, 0.2);
}

.notifications__clear-button {
	background: $surface_container_high;
	padding: 10px 20px;
	border-radius: 100px;
	margin: 10px;
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
	&:hover {
		background: $surface_container_highest;
	}
	image {
		margin-left: 4px;
	}
}

.notifications {
    margin-top: 20px;
	background: rgba(0, 0, 0, 0.0039);
}

