.osd {
	background: rgba(0, 0, 0, 0.0039);
}

.indicator .progress {
	padding: 0px;

	border-radius: 100px;
    margin-bottom: 20px;
	background-color: transparentize($surface, 0.2);

	.fill {
		border-radius: 100px;
		background-color: $primary;
		color: $on_primary;
        transition: min-width 0.2s ease-in-out;
	}
}
