.settings {
    background: $surface_transparent;

    flowboxchild {
        min-height: 120px;
        border-radius: 20px;
    }
}

.settings__sidebar {
    min-width: 300px;
    padding: 16px;
    border-radius: 0 20px 20px 0;
}

.settings__sidebar_button {
    padding: 10px 20px;
    border-radius: 100px;
    &:hover {
        background: $surface;
    }
}

.settings__scrollable {
    padding: 0 24px;
    border-radius: 24px;
    background: $surface;
}
.settings__page {
    margin: 24px 0;
    border-radius: 24px;
    background: $surface;
}

.settings__heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
}

.wallpaper-setter {
    border-radius: 26px;
    padding: 26px;
    background: $inverse_surface_transparent;
}

.wallpaper-setter__item {
    border-radius: 8px;
}

.wallpaper-setter__add {
    transition: 1s all ease-in-out;
    background: $primary;
    color: $on_primary;
    border-radius: 100px;
    min-height: 46px;
    * {
      font-size: 16px;
    }
}

.current-wallpaper {
  min-height: 200px;
  border-radius: 20px;
}

.current-wallpaper__label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;
}
