window {
  color: #f1dfdb; }

slider {
  background: none; }

separator {
  background: none; }

window {
  background: none; }

button {
  background: none;
  border: none; }

.scrim {
  background: rgba(0, 0, 0, 0.32); }

.transparent-scrim {
  background: rgba(0, 0, 0, 0.0039); }

* {
  font-size: 14px; }

flowboxchild, button, box {
  margin: 0;
  padding: 0; }

.active {
  background: #ffb4a6; }

.bar {
  padding: 8px 12px;
  background: rgba(26, 17, 16, 0.8);
  transition: background-color 0.15s ease, color 0.15s ease; }

.bar__item {
  min-height: 42px;
  padding: 0 16px;
  border-radius: 100px;
  color: #f1dfdb;
  background-color: rgba(241, 223, 219, 0.08); }

.bar__button {
  transition: 0.15s all ease-in-out; }
  .bar__button:hover {
    background: rgba(241, 223, 219, 0.18); }
  .bar__button.active {
    background: #ffb4a6;
    color: #561e15; }
    .bar__button.active:hover {
      background: #ffdad4; }

.bar__app-launcher_icon {
  background-color: #561e15;
  min-width: 14px;
  min-height: 14px;
  border-radius: 100%;
  transition: all 0.3s; }

.bar__app-launcher {
  transition: all 0.3s;
  background-color: #ffb4a6;
  min-width: 42px;
  padding: 0px; }
  .bar__app-launcher:hover {
    background-color: #561e15; }
    .bar__app-launcher:hover .bar__app-launcher_icon {
      background-color: #ffb4a6; }

.bar__workspaces {
  min-width: 28px; }

.bar__workspaces-indicator {
  padding: 0;
  min-width: 10px;
  min-height: 10px;
  margin: 0 4px;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.17);
  border-radius: 100px; }
  .bar__workspaces-indicator:last-child {
    margin-right: 0px; }
  .bar__workspaces-indicator:first-child {
    margin-left: 0px; }
  .bar__workspaces-indicator:hover {
    background-color: rgba(255, 180, 166, 0.6); }
  .bar__workspaces-indicator.active, .bar__workspaces-indicator:active {
    min-height: 14px;
    min-width: 42px;
    border-radius: 100px;
    background-color: #ffb4a6; }

.bar__clock, .bar__weather, .bar__keyboard-layout, .bar__battery {
  font-weight: 500; }

.bar__weather {
  background: none;
  padding: 0 10px; }

.bar__weather-icon {
  min-width: 10px;
  min-height: 10px; }

.bar__keyboard-layout {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  min-width: 42px;
  background: #e7bdb5;
  color: #442a25; }

.bar__battery {
  padding: 0 10px;
  color: #ffdad4;
  background-color: #733429; }
  .bar__battery image {
    margin-right: 4px; }
  .bar__battery.low {
    color: #ffdad6;
    background-color: #93000a; }

.bar__system-indicators:hover {
  background-color: rgba(241, 223, 219, 0.18); }

.control-center {
  min-width: 450px;
  margin: 12px;
  border-radius: 38px;
  padding: 14px;
  background: rgba(26, 17, 16, 0.8);
  transition: background-color 0.15s ease, color 0.15s ease; }

.control-center__button {
  background-color: rgba(255, 255, 255, 0.07);
  color: #f1dfdb;
  padding: 0 30px;
  border-radius: 100px;
  min-height: 64px;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
  .control-center__button > * {
    border-radius: 30px; }
  .control-center__button.active {
    background: #ffb4a6;
    color: #561e15; }
    .control-center__button.active:hover {
      background: #ffdad4; }
  .control-center__button:hover {
    background-color: #3d3230; }

.control-center__brightness-slider *,
.control-center__volume-slider * {
  padding: 0;
  margin: 0;
  border: none; }

.control-center__brightness-slider image,
.control-center__volume-slider image {
  color: #561e15;
  margin-left: 14px; }

.control-center__brightness-slider trough,
.control-center__volume-slider trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 100px;
  background-color: rgba(241, 223, 219, 0.08);
  min-height: 44px; }
  .control-center__brightness-slider trough highlight,
  .control-center__volume-slider trough highlight {
    min-width: 44px;
    border-radius: 100px;
    background-color: #ffb4a6;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
  .control-center__brightness-slider trough slider,
  .control-center__volume-slider trough slider {
    min-width: 44px;
    min-height: 44px;
    border-radius: 100px;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }

.player__play-pause {
  min-width: 60px;
  min-height: 60px;
  padding: 0;
  background: #ffb4a6;
  color: #561e15;
  border-radius: 0px;
  transition: all 0.3s ease;
  border-radius: 30px; }
  .player__play-pause.active {
    border-radius: 20px; }

.player__position-slider trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 100px; }
  .player__position-slider trough highlight {
    border-radius: 100px;
    background-color: #f1dfdb;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
  .player__position-slider trough slider {
    margin: -10px;
    padding: 2px 0;
    border-radius: 7px;
    border-radius: 10px;
    box-shadow: none;
    background-color: #f1dfdb;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }

.player__indicator {
  min-width: 8px;
  min-height: 8px;
  background: rgba(241, 223, 219, 0.18);
  border-radius: 100px;
  margin-bottom: 8px;
  transition: 0.3s all ease-in-out; }
  .player__indicator.active {
    background: #f1dfdb; }

.player__container {
  border-radius: 30px;
  min-height: 180px; }

.player__cover {
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  transition: 0.5s all ease; }

.player {
  border-radius: 30px;
  padding: 20px 20px;
  border-radius: 30px;
  transition: all 0.3s ease; }

.player__header {
  color: #ffb4a6; }

.player__sink {
  border-radius: 100px;
  padding: 2px 10px;
  margin: 0;
  transition: all 0.3s ease;
  font-weight: 500; }
  .player__sink label {
    font-size: 12px; }

.player__title-box {
  animation: slide-back 0.3s cubic-bezier(0.05, 0.7, 0.1, 1); }
  .player__title-box .title {
    font-weight: 600;
    font-size: 19px;
    padding-right: 18px; }
  .player__title-box .artist {
    padding-right: 18px;
    font-weight: 400;
    font-size: 17px; }
  .player__title-box.dissappear {
    animation: slide 0.3s cubic-bezier(0.3, 0, 0.8, 0.15); }

.player__footer {
  min-height: 24px; }
  .player__footer > * {
    font-size: 12px;
    background: none;
    padding: 0; }

.control-center__settings-button {
  min-width: 42px;
  min-height: 42px;
  background: rgba(241, 223, 219, 0.08);
  color: #f1dfdb;
  border-radius: 100px;
  transition: 0.15s all ease-in-out; }
  .control-center__settings-button:hover {
    background: #ddc48c;
    color: #3d2e04; }

.control-center__powermenu-button {
  min-width: 42px;
  min-height: 42px;
  background: rgba(241, 223, 219, 0.08);
  color: #f1dfdb;
  border-radius: 100px;
  transition: 0.15s all ease-in-out; }
  .control-center__powermenu-button:hover {
    background: #e7bdb5;
    color: #442a25; }

.control-center__uptime {
  font-size: 15px;
  font-weight: 500; }

@keyframes slide {
  from {
    transform: translateX(0);
    opacity: 1; }
  to {
    transform: translateX(-100px);
    opacity: 0; } }

@keyframes slide-back {
  from {
    transform: translateX(100px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

.osd {
  background: rgba(0, 0, 0, 0.0039); }

.indicator .progress {
  padding: 0px;
  border-radius: 100px;
  margin-bottom: 20px;
  background-color: rgba(26, 17, 16, 0.8); }
  .indicator .progress .fill {
    border-radius: 100px;
    background-color: #ffb4a6;
    color: #561e15;
    transition: min-width 0.2s ease-in-out; }

.app-launcher {
  min-width: 430px;
  margin: 12px;
  border-radius: 38px;
  padding: 0 20px;
  background: rgba(26, 17, 16, 0.8);
  min-height: 700px; }

.app-launcher__input {
  background: none;
  border: none;
  outline: none;
  margin-top: 5px;
  padding: 10px 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(241, 223, 219, 0.08); }

.app-launcher__item {
  all: unset;
  transition: all 0.2s ease;
  padding: 12px;
  border-radius: 100px; }
  .app-launcher__item label {
    transition: all 0.2s ease; }
    .app-launcher__item label.title {
      font-weight: 500;
      color: #f1dfdb; }
    .app-launcher__item label.description {
      color: rgba(241, 223, 219, 0.7); }
  .app-launcher__item image {
    transition: all 0.2s ease;
    margin-right: 10px; }
  .app-launcher__item:hover {
    background: #322826; }
    .app-launcher__item:hover .title {
      color: #f1dfdb; }
  .app-launcher__item:focus {
    background: #ffb4a6; }
    .app-launcher__item:focus .title {
      color: #561e15; }
    .app-launcher__item:focus .description {
      color: #561e15; }
  .app-launcher__item:active {
    background: yellow;
    background-color: rgba(255, 180, 166, 0.8);
    border-radius: 100px;
    box-shadow: inset 0 0 0 1px #ffb4a6; }
    .app-launcher__item:active .title {
      color: #561e15; }

.app-launcher__list {
  margin-bottom: 20px; }

.notification {
  padding: 14px 16px 20px 20px;
  color: #f1dfdb;
  background-color: rgba(26, 17, 16, 0.8);
  border-radius: 4px; }
  .notification:first-child {
    border-top-right-radius: 26px;
    border-top-left-radius: 26px; }
  .notification:last-child {
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px; }

.notification__icon {
  margin-top: 6px;
  min-height: 42px;
  min-width: 42px;
  margin-right: 14px;
  border-radius: 100px; }

.notification__title {
  font-size: 15px;
  font-weight: 500; }

.notification__header {
  margin-top: 6px;
  margin-bottom: 10px; }

.notification__app-name, .notification__dot, .notification__time {
  color: #d8c2be;
  font-size: 12px;
  font-weight: 400; }

.notification__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2; }

.notification__actions {
  margin-top: 8px; }

.notification__action {
  background: none;
  transition: color 0.1s ease-in-out;
  color: #ffb4a6;
  border-radius: 100px; }
  .notification__action:hover {
    color: #ffdad4;
    transition: color 0.1s ease-in-out; }
  .notification__action:first-child {
    margin-left: 0; }
  .notification__action:last-child {
    margin-right: 0; }

.notification__close-button {
  min-width: 22px;
  min-height: 22px;
  border-radius: 100px;
  background-color: #3d3230;
  color: #f1dfdb;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
  .notification__close-button:hover {
    background: #ffdad4;
    color: #3a0a04; }

.popup-notif-low, .popup-notif-normal, .popup-notif-critical {
  color: #f1dfdb;
  background-color: rgba(26, 17, 16, 0.8); }

.notifications__clear-button {
  background: #322826;
  padding: 10px 20px;
  border-radius: 100px;
  margin: 10px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
  .notifications__clear-button:hover {
    background: #3d3230; }
  .notifications__clear-button image {
    margin-left: 4px; }

.notifications {
  margin-top: 20px;
  background: rgba(0, 0, 0, 0.0039); }

.popup-menu {
  min-width: 400px;
  min-height: 450px;
  background: rgba(26, 17, 16, 0.8);
  border-radius: 40px;
  padding: 0 20px; }

.profiles {
  min-height: 270px; }

.popup-menu__header {
  margin: 30px 16px;
  margin-bottom: 16px; }
  .popup-menu__header label {
    font-size: 18px;
    font-weight: 600; }

.popup-menu__content > * > * {
  background: none; }

.popup-menu__item {
  background: none;
  padding: 18px;
  color: #f1dfdb;
  border-radius: 100px;
  transition: background 0.1s ease; }
  .popup-menu__item label {
    font-size: 14px;
    font-weight: 500; }
  .popup-menu__item image {
    margin-right: 16px; }
  .popup-menu__item:hover {
    background-color: #3d3230; }
  .popup-menu__item:last-child {
    margin-bottom: 20px; }

.mixer__item {
  padding: 10px; }
  .mixer__item image {
    margin-right: 0px; }
  .mixer__item:hover {
    background: none; }

.mixer__tooltip {
  background: #322826;
  padding: 12px;
  border-radius: 100px; }

.mixer__slider {
  padding: 0;
  margin: 0; }
  .mixer__slider trough {
    margin-top: 6px;
    border-radius: 100px;
    background-color: rgba(241, 223, 219, 0.08);
    min-height: 14px; }
    .mixer__slider trough highlight,
    .mixer__slider trough progress {
      border-radius: 100px;
      background-color: #ffb4a6;
      border-radius: 100px; }
    .mixer__slider trough slider {
      border-radius: 100px;
      min-height: 14px;
      min-width: 14px;
      background-color: transparent;
      box-shadow: none; }

.mixer__value {
  background: #322826;
  border-radius: 100px;
  min-width: 56px; }

.bluetooth__percentage {
  background: #733429;
  color: #ffdad4;
  border-radius: 100px;
  padding: 0px 12px;
  margin-left: 12px; }

.powermenu {
  padding: 24px;
  border-radius: 30px;
  background: rgba(26, 17, 16, 0.8); }
  .powermenu flowboxchild {
    border-radius: 100px; }

.powermenu__button {
  background: rgba(241, 223, 219, 0.08);
  min-width: 100px;
  min-height: 100px;
  border-radius: 100px; }
  .powermenu__button:hover {
    background: #ffb4a6;
    color: #561e15; }
  .powermenu__button:selected {
    background: #ffb4a6;
    border-radius: 100px; }

.verification {
  min-width: 200px;
  padding: 24px;
  border-radius: 30px;
  background: rgba(26, 17, 16, 0.8); }
  .verification .title {
    font-size: 18px;
    font-weight: 500; }
  .verification .desc {
    font-size: 16px;
    font-weight: 400; }
  .verification .verification__button {
    background: rgba(241, 223, 219, 0.08);
    border-radius: 100px;
    padding: 12px 0; }
    .verification .verification__button:hover {
      background: #ffb4a6;
      color: #561e15; }

.notifications-center {
  margin-top: 12px;
  border-radius: 38px;
  min-height: 550px;
  padding: 14px;
  background: rgba(26, 17, 16, 0.8);
  transition: background-color 1s ease-in-out, color 1s ease-in-out; }

.block {
  background: rgba(241, 223, 219, 0.08);
  border-radius: 30px;
  padding: 20px;
  transition: background-color 1s ease, color 1s ease; }

.notifications-center__scrollable {
  border-radius: 20px; }
  .notifications-center__scrollable slider {
    min-height: 0; }

.notifications-center__notificaitons {
  min-width: 380px;
  padding: 12px; }
  .notifications-center__notificaitons .notification {
    border-radius: 24px; }

.notifications-center__clear {
  border-radius: 20px;
  min-height: 40px; }

.placeholder label {
  font-size: 18px; }

.notifications-center__calendar {
  padding: 20px 16px; }

.notifications-center__calendar_header {
  font-size: 18px;
  font-weight: 500;
  margin-left: 13px;
  margin-bottom: 8px; }

calendar {
  all: unset; }
  calendar label {
    font-size: 16px;
    padding: 10px 6px;
    margin: 2px;
    border-radius: 100px;
    transition: 0.2s all ease-in-out;
    font-weight: 500; }
    calendar label:selected {
      outline: none;
      background: #ffb4a6;
      color: #561e15; }
  calendar .today {
    box-shadow: inset 0px 0px 0px 2px #733429; }
  calendar header {
    border: none; }
    calendar header label {
      font-weight: 500;
      font-size: 18px; }

.notifications-center__weather {
  background: #554519; }
  .notifications-center__weather .highlighted {
    color: #fae0a6; }

.notifications-center__weather_icon {
  font-size: 20px; }

.notifications-center__weather_country {
  font-size: 16px;
  font-weight: 400; }

.notifications-center__weather_city {
  font-size: 18px;
  font-weight: 500; }

.notifications-center__weather_now {
  font-size: 36px;
  font-weight: 500; }

.notifications-center__weather_min, .notifications-center__weather_max {
  font-size: 18px;
  font-weight: 400; }

.notifications-center__weather_min {
  color: #d8c2be; }

.settings {
  background: rgba(26, 17, 16, 0.8); }
  .settings flowboxchild {
    min-height: 120px;
    border-radius: 20px; }

.settings__sidebar {
  min-width: 300px;
  padding: 16px;
  border-radius: 0 20px 20px 0; }

.settings__sidebar_button {
  padding: 10px 20px;
  border-radius: 100px; }
  .settings__sidebar_button:hover {
    background: #1a1110; }

.settings__scrollable {
  padding: 0 24px;
  border-radius: 24px;
  background: #1a1110; }

.settings__page {
  margin: 24px 0;
  border-radius: 24px;
  background: #1a1110; }

.settings__heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px; }

.wallpaper-setter {
  border-radius: 26px;
  padding: 26px;
  background: rgba(241, 223, 219, 0.08); }

.wallpaper-setter__item {
  border-radius: 8px; }

.wallpaper-setter__add {
  transition: 1s all ease-in-out;
  background: #ffb4a6;
  color: #561e15;
  border-radius: 100px;
  min-height: 46px; }
  .wallpaper-setter__add * {
    font-size: 16px; }

.current-wallpaper {
  min-height: 200px;
  border-radius: 20px; }

.current-wallpaper__label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px; }
