
$background: #12140d;

$blue: #99ccfa;

$blue_container: #094b72;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #acd28f;

$green_container: #2f4f1b;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #2f3129;

$inverse_primary: #516526;

$inverse_surface: #e3e3d7;

$on_background: #e3e3d7;

$on_blue: #003352;

$on_blue_container: #cde5ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #193705;

$on_green_container: #c7eea9;

$on_orange: #492900;

$on_orange_container: #ffdcbd;

$on_primary: #253500;

$on_primary_container: #d3ec9e;

$on_primary_fixed: #141f00;

$on_primary_fixed_variant: #3a4d10;

$on_purple: #462152;

$on_purple_container: #fad7ff;

$on_red: #561d20;

$on_red_container: #ffdad9;

$on_secondary: #2c331d;

$on_secondary_container: #dee6c5;

$on_secondary_fixed: #171e09;

$on_secondary_fixed_variant: #424a31;

$on_surface: #e3e3d7;

$on_surface_variant: #c6c8b9;

$on_tertiary: #013732;

$on_tertiary_container: #bcece4;

$on_tertiary_fixed: #00201d;

$on_tertiary_fixed_variant: #204e48;

$on_yellow: #373100;

$on_yellow_container: #f1e48a;

$orange: #fcb974;

$orange_container: #693c00;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #909284;

$outline_variant: #45483c;

$primary: #b8cf84;

$primary_container: #3a4d10;

$primary_fixed: #d3ec9e;

$primary_fixed_dim: #b8cf84;

$purple: #e6b6f1;

$purple_container: #5e386a;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #ffb3b3;

$red_container: #733335;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #c2caaa;

$secondary_container: #424a31;

$secondary_fixed: #dee6c5;

$secondary_fixed_dim: #c2caaa;

$shadow: #000000;

$source_color: #739526;

$surface: #12140d;

$surface_bright: #383a32;

$surface_container: #1e2019;

$surface_container_high: #292b23;

$surface_container_highest: #34362e;

$surface_container_low: #1a1c15;

$surface_container_lowest: #0d0f08;

$surface_dim: #12140d;

$surface_tint: #b8cf84;

$surface_variant: #45483c;

$tertiary: #a0d0c8;

$tertiary_container: #204e48;

$tertiary_fixed: #bcece4;

$tertiary_fixed_dim: #a0d0c8;

$yellow: #d5c871;

$yellow_container: #4f4700;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: transparentize($surface, 0.2);
$inverse_surface_transparent: transparentize($inverse_surface, 0.92);
$inverse_surface_transparent_variant: transparentize($inverse_surface, 0.82);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
