
$background: #101418;

$blue: #a2c9fe;

$blue_container: #1d4875;

$blue_source: #89b4fa;

$blue_value: #89b4fa;

$error: #ffb4ab;

$error_container: #93000a;

$green: #91d5ad;

$green_container: #035233;

$green_source: #a6e3a1;

$green_value: #a6e3a1;

$inverse_on_surface: #392e2d;

$inverse_primary: #32628d;

$inverse_surface: #e0e2e8;

$on_background: #e0e2e8;

$on_blue: #00325a;

$on_blue_container: #d2e4ff;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_green: #003822;

$on_green_container: #acf2c8;

$on_orange: #55200b;

$on_orange_container: #ffdbd0;

$on_primary: #561e19;

$on_primary_container: #cfe5ff;

$on_primary_fixed: #001d34;

$on_primary_fixed_variant: #73342d;

$on_purple: #30285f;

$on_purple_container: #e5deff;

$on_red: #561d24;

$on_red_container: #ffd8ea;

$on_secondary: #243240;

$on_secondary_container: #d6e4f7;

$on_secondary_fixed: #0f1d2a;

$on_secondary_fixed_variant: #3a4857;

$on_surface: #e0e2e8;

$on_surface_variant: #d8c2bf;

$on_tertiary: #3f2e04;

$on_tertiary_container: #fddfa6;

$on_tertiary_fixed: #241532;

$on_tertiary_fixed_variant: #514060;

$on_yellow: #373100;

$on_yellow_container: #f1e48a;

$orange: #ffb59c;

$orange_container: #72351f;

$orange_source: #fab387;

$orange_value: #fab387;

$outline: #a08c8a;

$outline_variant: #42474e;

$primary: #9dcbfc;

$primary_container: #73342d;

$primary_fixed: #cfe5ff;

$primary_fixed_dim: #9dcbfc;

$purple: #c9bfff;

$purple_container: #473f77;

$purple_source: #cba6f7;

$purple_value: #cba6f7;

$red: #ffb2b7;

$red_container: #6c3455;

$red_source: #f38ba8;

$red_value: #f38ba8;

$scrim: #000000;

$secondary: #bac8da;

$secondary_container: #3a4857;

$secondary_fixed: #d6e4f7;

$secondary_fixed_dim: #bac8da;

$shadow: #000000;

$source_color: #d8352d;

$surface: #101418;

$surface_bright: #36393e;

$surface_container: #1d2024;

$surface_container_high: #272a2f;

$surface_container_highest: #32353a;

$surface_container_low: #191c20;

$surface_container_lowest: #0b0e12;

$surface_dim: #101418;

$surface_tint: #9dcbfc;

$surface_variant: #42474e;

$tertiary: #d4bee5;

$tertiary_container: #514060;

$tertiary_fixed: #fddfa6;

$tertiary_fixed_dim: #d4bee5;

$yellow: #d5c871;

$yellow_container: #4f4700;

$yellow_source: #f9e2af;

$yellow_value: #f9e2af;



$theme: 'dark';
$surface_transparent: transparentize($surface, 0.2);
$inverse_surface_transparent: transparentize($inverse_surface, 0.92);
$inverse_surface_transparent_variant: transparentize($inverse_surface, 0.82);
$inverse_surface_transparent_overlay: linear-gradient(0deg, $inverse_surface_transparent, $inverse_surface_transparent);
$inverse_surface_transparent_variant_overlay: linear-gradient(0deg, $inverse_surface_transparent_variant, $inverse_surface_transparent_variant);
