@use "./colors.scss" as *;

.control-center__container {
	border-radius: 2.857rem;
	min-width: 32.143rem;
	min-height: 46.429rem;
	background: $surface_transparent;
}

.control-center__page {
	padding: 1.429rem 1.429rem 0 1.429rem;
}

.control-center__page.main {
	padding: 0.714rem;
}

.control-center__page_scrollable-content {
	margin-bottom: 1.429rem;
}

.control-center__page_header {
	color: $on_surface;
	margin-top: 0.571rem;
	margin-bottom: 1.714rem;
	label {
		font-size: 1.286rem;
		font-weight: 500;
	}
}

.control-center__page_header_button {
	background: $inverse_surface_transparent;
	color: $on_surface;
	min-width: 2.714rem;
	min-height: 2.714rem;
	border-radius: 7.143rem;
	&:hover {
		background-color: $inverse_surface_transparent_variant;
	}
}

.control-center__page_item-header {
	background: $inverse_surface_transparent;
	&.active {
		background: $primary_container;
		color: $on_primary_container;
	}
	border-radius: 1.714rem;
	padding: 0 1.571rem;
	min-height: 5.714rem;
	transition: background 0.1s ease;
	label {
		font-size: 1.143rem;
		font-weight: 500;
		margin-left: 1.143rem;
	}
}
.control-center__page_item {
	background: $inverse_surface_transparent;
	&:first-child {
		border-top-left-radius: 1.286rem;
		border-top-right-radius: 1.286rem;
	}
	&:last-child {
		border-bottom-left-radius: 1.286rem;
		border-bottom-right-radius: 1.286rem;
	}
	padding: 1.286rem 1.571rem;
	color: $on_surface;
	transition: background 0.1s ease;
	label {
		font-size: 1rem;
		font-weight: 500;
		margin-left: 1.143rem;
	}
	&:hover {
		background-color: $inverse_surface_transparent_variant;
	}
}

.control-center__button > * {
	border-radius: 2.143rem;
}

.control-center__button {
	background-color: $inverse_surface_transparent;
	color: $on_surface;
	padding: 0 1.714rem 0 2.143rem;
	border-radius: 7.143rem;
	min-height: 4.571rem;
	transition:
		background 0.2s ease-in-out,
		color 0.2s ease-in-out;

	&.active {
		background: $primary;
		color: $on_primary;
		&:hover {
			background: $primary, $inverse_surface_transparent_variant_overlay;
		}
		&:active {
			background: $on_primary_container,
				$inverse_surface_transparent_overlay;
		}
	}

	&:hover {
		background-color: $inverse_surface_transparent_variant;
	}
	font-size: 1rem;
	font-weight: 600;
	&.no-label {
		padding: 0;
	}
	&.recorder-indicator {
		&.active {
			background: $error_container;
			color: $on_error_container;
			&:hover {
				background: $error_container,
					$inverse_surface_transparent_variant_overlay;
			}
			&:active {
				background: $error_container,
					$inverse_surface_transparent_overlay;
			}
		}
	}
}

.control-center__dropdown-menu {
	background: $inverse_surface_transparent;
	border-radius: 2.286rem;
	padding: 1.714rem;
}

.control-center__dropdown-menu_icon {
	font-size: 1.429rem;
	color: red;
}

.control-center__dropdown-menu_title {
	font-size: 1.429rem;
	font-weight: 600;
}

.control-center__dropdown-menu_item {
	icon {
		font-size: 1.143rem;
	}
	label {
		font-size: 1.143rem;
	}
}

.control-center__brightness-slider,
.control-center__volume-slider {
	* {
		padding: 0;
		margin: 0;
		border: none;
	}

	.control-center__slider-icon {
		color: $on_primary;
		margin-left: 1rem;
	}

	trough {
		transition:
			background-color 0.3s ease-in-out,
			color 0.3s ease-in-out;
		border-radius: 7.143rem;
		background-color: $inverse_surface_transparent;
		min-height: 3.143rem;

		highlight {
			min-width: 3.143rem;
			border-radius: 7.143rem;
			background-color: $primary;
			border-radius: 7.143rem;
			transition:
				background-color 0.3s ease-in-out,
				color 0.3s ease-in-out;
		}

		slider {
			min-width: 3.143rem;
			min-height: 3.143rem;
			border-radius: 7.143rem;
			background-color: transparent;
			box-shadow: none;

			transition:
				background-color 0.3s ease-in-out,
				color 0.3s ease-in-out;
		}
	}
}

.muted {
	.control-center__volume-slider {
		highlight {
			background-color: $inverse_surface_transparent_variant;
		}
	}
	.control-center__slider-icon {
		color: $on_surface;
	}
}

.control-center__time-to-empty {
	color: $on_surface;
	font-size: 1.071rem;
	font-weight: 500;
}

.control-center__settings-button,
.control-center__powermenu-button {
	min-width: 3rem;
	min-height: 3rem;
	background: $inverse_surface_transparent;
	color: $on_surface;
	border-radius: 7.143rem;
	transition: 0.15s all ease-in-out;
}

.control-center__settings-button {
	&:hover {
		background: $tertiary;
		color: $on_tertiary;
	}
}
.control-center__powermenu-button {
	&:hover {
		background: $secondary;
		color: $on_secondary;
	}
}

.control-center__footer {
	margin: 0.714rem 0.571rem;
}
