@use "./colors.scss" as *;

.notifications-window {
	border-radius: 2.143rem;
	min-width: 28.571rem;
	min-height: 39.286rem;
	padding: 0.714rem 0.714rem 0;
	background: $surface_transparent;
	transition:
		background-color 1s ease-in-out,
		color 1s ease-in-out;

	.notification {
		border-radius: 0.286rem;
		transition: 0.2s border-radius ease-in-out;
		background-color: $inverse_surface_transparent;
	}
}

.notifications-window__clear {
	background: none;
	padding: 0.429rem 0;
	margin-right: 1.286rem;
}

.notifications-window__list {
	revealer:first-child {
		.notification {
			border-top-left-radius: 1.714rem;
			border-top-right-radius: 1.714rem;
		}
	}

	revealer:last-child {
		.notification {
			border-bottom-left-radius: 1.714rem;
			border-bottom-right-radius: 1.714rem;
			margin-bottom: 0.714rem;
		}
	}
}
